@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
#registration {
  background: url("../bg.mp4");
  background-size: cover;
  background-position: center;
  opacity: 0.9; /* Adjust the opacity value (0 to 1) */
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  opacity: 0.5;
  z-index: -1;
}
.main-head {
  height: 5vw;
  background-color: #33333384;
  background: linear-gradient(to right, #e600ffbd, #00aeffac);
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
}

.main-head h1 {
  font-weight: bolder;
}

.heading {
  text-align: center;
  padding-top: 15px;
  height: 80px;
  color: #fff;
  font-size: 22px;
  margin: 0 auto; /* Center the element horizontally */
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background: linear-gradient(to right, #e600ffbd, #00aeffac);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.sign-in .form-group,
.sign-up .form-group,
.pickup .form-group {
  width: 30vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #000;
  padding: 2rem;
  border-radius: 6px 6px 6px;
  background-color: #fff;
  transition: all 0.5s;
  max-height: 90vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.form-group h3 {
  font-weight: 500;
  text-align: center;
}

.sign-up {
  display: none;
}

.my-2 {
  margin-top: 12px;
}

.form-label {
  font-size: 1rem;
  font-weight: 500;
}

.form-input {
  padding: 5px 5px;
  font-size: 1rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 6px;
}

textarea.form-input {
  height: auto;
}

textarea::placeholder,
input::placeholder {
  color: #333333e4;
  font-size: 12px;
}

.form-input:focus {
  outline: 2px solid #00aeffe6;
  box-shadow: 0px 0px 10px 5px #00aeff7e;
}

form .form-check {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form .form-check .form-label {
  margin: 0;
  margin-left: 0.5rem;
}

form .form-check input {
  height: auto;
}

form a {
  text-decoration: none;
  display: inline-block;
}

form a:hover {
  text-decoration: underline;
}
