.slot-selection {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.date-slot {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 2rem auto;
  padding: 30px;
  box-shadow: 0px 0px 3px #333;
  justify-content: space-around;
}

.contain {
  background-color: #fff;
  height: 150px;
  width: 520px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 0px 5px #333;
}
.slot {
  height: 50px;
  width: 150px;
  border-radius: 12px;
  background-color: #fff;
  border: 2px solid #84848479;
}

.slot:hover {
  background-color: #00aeffe6;
  color: #fff;
  cursor: pointer;
}

.slot-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookking-btn {
  width: 520px;
  margin: auto;
  text-align: center;
  padding: 6px 12px;
  height: 2.5rem;
  border-radius: 6px;
  background: linear-gradient(to right, #e600ffbd, #00aeffac);
  color: #fff;
  font-size: large;
  font-weight: 900;
}

.bookking-btn:hover {
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #e600ffcf, #00aeffc8);
}

#drop-slot {
  display: none;
}
#pickup-slot {
  display: none;
}
#slots-book {
  display: none;
}

.view-details .form-group {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  text-align: start;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.view-details form input {
  outline: none;
  border: none;
}

select {
  width: 7rem;
  height: 2.5rem;
  background-color: #fff;
  color: #000;
  border: 2px solid #8b8b8ba4;
  border-radius: 6px;
  padding: 0 6px;
}

.date-picker {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.container {
  position: relative;
}

.log-out {
  position: absolute;
  right: 30px;
  bottom: 18px;
}

.log-out img {
  width: 36px;
  color: #fff;
}

.slot-container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.side-nav {
  background-color: #d6d6d6;
  min-height: 85vh;
}

.slot-body {
  width: 90%;
}

.slot-body h3 {
  text-align: center;
  margin: 1rem auto;
  color: transparent;
  background: linear-gradient(to bottom, #e600ffbd, #00aeffac);
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: underline black 1.2px;
}

.side-nav ul {
  text-align: center;
  line-height: 3rem;
}

.side-nav ul li {
  border-bottom: 2px solid aliceblue;
}

.side-nav ul li:hover {
  background-color: #737373;
  cursor: pointer;
}

.side-nav ul li:first-child {
  background-color: #737373;
}

#employee-bookings-table {
  display: none;
}

table {
  overflow-y: scroll;
}

.booking-table {
  width: 98%;
  border-collapse: collapse;
  margin: auto auto;
  margin-top: 10px;
}

.booking-table th,
.booking-table td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}
